body {
    background-color: black;
    color: whitesmoke;
    font-family: "Chicken Crispy";
}

@font-face {
    font-family: "Chicken Crispy";
    src: url("/Fonts/chicken_crispy/Chicken\ Cripsy.otf")
}

#computerShow{
    border:solid 5px darkred;
    height: 50px;
    width: 50px;
    float: left;
}

#userShow{
    border: solid 5px darkblue;
    height: 50px;
    width: 50px;
    float: right;
}




/*
.Options{
    
} */

.Options > button{
    font-size: larger;
    font-weight: bold;
    color: darkviolet;
}

